body {
	overflow: hidden;
}

.well {
	margin-bottom: 0;
	padding: 0;
}

hr {
	border-color: black;
	margin: 0;
}

/* nav.js CSS */
.navbar {
	width: 100vw;
	margin-bottom: 0;
}

.navbar > .container {
	width: 100vw;
	padding: 0;
}

.navLink {
	color: inherit;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
}

.navLink:hover {
	text-decoration: none;
}

/* Home Page CSS */
.logo {
	position: fixed;
	width: 100vw;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*google_map.js CSS */
#map {
	height: 92vh;
	width: 100vw;
	position: absolute;
}

/* Dont remember where this is used or if is used at all. */
.map-marker-label {
	position: absolute;
	color: blue;
	font-size: 16px;
	font-weight: bold;
}

/* React CSS Transition Group */
.fade-enter {
	top: -1000px;
}

.fade-enter-active {
	top: 0px;
	transition: 1s ease-in all;
}

.fade-leave {
	top: 0px;
}

.fade-leave-active {
	top: -2000px;
	transition: 1s ease-out all;
}

/* Advert Page and Establishment CSS
	We currently have them separate incase they differ eventually.
	Will merge when it is clear they are the same
*/
.advert_column, .establishment_column {
	margin: 0;
	border: none;
	text-align: center;
	height: 92vh;
	width: 40vw;
	position: absolute;
	right: 0px;
	background-color: rgba(255,255,255,0);
}

.establishment_header, .advert_title {
	height: 4vh;
}

.establishment_info, .advert_info {
	height: 8vh;
}

.establishment_userlog {
	background-color: rgba(255,255,255,0);
	text-align: left;
	height: 10vh;
}

.establishment_dynamic {
	height: 52vh;
	text-align: center;
	overflow-y: auto;
	background-color: rgba(255,255,255,0);
}

.establishment_static {
	height: 15vh;
	text-align: center;
	background-color: rgba(255,255,255,0);
}

.advert_dynamic {
	height: 20vh;
	text-align: center;
}

.advert_static {
	height: 20vh;
	text-align: center;
}

.establishment_header > h3, .establishment_info  > h3, .advert_title > h3, .advert_info > h3 {
	margin-top: 10px;
}

/* Sign In and Sign Out Page CSS */
.danger > input {
	border-color: red;
}

.signForm {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}